.containerWords {
    max-width: 111.6rem;
    padding: 3.6rem;
	margin: 0 auto;
  }
  
.containerBody {
	margin-top: 2.4rem;
	margin-left: 19.5rem;
	margin-right: 12.9rem;
}

.boxCategoryStyles{
    margin-top: 2.4rem;
}